@import "tailwindcss";

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 85rem) {
  .box4 {
    width: min(90vw, 180vh);
  }
  .box3
  {
    width: min(94vw, 210vh);
  }
}

@media (max-width: 85rem) {
  .box4 {
    width: min(90vw, 150vh);
  }
  .box3
  {
    width: min(85vw, 160vh);
  }
}

@media (max-height: 517px) {
  .box4 {
    width: min(75vw, 165vh);
  }
  .box3
  {
    width: min(74vw, 180vh);
  }
}
@media (max-height: 400px) {
  .box4 {
    width: min(70vw, 155vh);
  }
  .box3
  {
    width: min(75vw, 170vh);
  }
}
@media (max-height: 348px) {
  .box4 {
    width: min(65vw, 145vh);
  }
  .box3
  {
    width: min(70vw, 165vh);
  }
}
@media (max-height: 305px) {
  .box4 {
    width: min(58vw, 130vh);
  }
  .box3
  {
    width: min(65vw, 160vh);
  }
}
@media (max-height: 270px) {
  .box4 {
    width: min(58vw, 125vh);
  }
  .box3
  {
    width: min(82vw, 160vh);
  }
}
@media (max-height: 242px) {
  .box4 {
    width: min(69vw, 100vh);
  }
  .box3
  {
    width: min(82vw, 135vh);
  }
}