@import "tailwindcss";

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* مدیا کوئری برای عرض زیاد */
@media (min-width: 80rem) {
  .box {
    width: min(90vw, 200vh);
  }
  .box3
  {
    width: min(94vw, 210vh);
  }
}

@media (max-height: 517px) {
  .box1 {
    width: min(68vw, 180vh);
  }
  .box3
  {
    width: min(75vw, 187vh);
  }
}
@media (max-height: 400px) {
  .box4 {
    width: min(80vw, 170vh);
  }
  .box3
  {
    width: min(88vw, 183vh);
  }
}
@media (max-height: 360px) {
  .box4 {
    width: min(80vw, 160vh);
  }
  .box3
  {
    width: min(83vw, 176vh);
  }
}
@media (max-height: 239px) {
  .box4 {
    width: min(68vw, 100vh);
  }
  .box3
  {
    width: min(82vw, 122vh);
  }
}